{% extends "base.html" %}
{% block content %}
{% if kayttaja_logged_in %}   
    <h1>Kirjautuneena: {{kayttaja_logged_in.nimi}}</h1>
    <p>
        <a href="{{base_path}}/joukkueet" class="btn btn-default">Joukkueet</a>
        <a href="{{base_path}}/pelaajat" class="btn btn-default">Pelaajat</a>
    </p>
{% else %}
    <h1>Tervetuloa Fantasiajääkiekko-sovellukseen!</h1>
    <p>
        <a href="{{base_path}}/login" class="btn btn-success">Kirjaudu sisään</a>
        <a href="{{base_path}}/uusi_kayttaja" class="btn btn-default">Luo käyttäjätunnus</a>
    </p>
{% endif %}    

{% endblock %}

