{% extends "base.html" %}
{% block content %}


    <h1>{{pelaaja.nimi}}</h1>
    <p>
        <a href="{{base_path}}/pelaajat/{{pelaaja.id}}/muokkaus" class="btn btn-default">Muokkaa</a>
        
        
    </p>
    <form method="post" action="{{base_path}}/pelaajat/{{pelaaja.id}}/destroy" style="display: inline-block;">
        <button type="submit" class="btn btn-danger">Poista</button>
    </form>
    
    <ul>
        
        <li><strong>Taso: {{pelaaja.taso}}</strong></li>
        <li>Seurajoukkue: {{pelaaja.seura}}</li>
        <li>Pelipaikka: {{pelaaja.pelipaikka}}</li>
    </ul>
    <div class="alert alert-success">
        {{message}}
    </div>
    
    
    


{% endblock %}
