{% extends "base.html" %}
{% block content %}

    <h1>{{joukkue.nimi}}</h1>
    
    <p>
        <a href="{{base_path}}/joukkueet/{{joukkue.id}}/muokkaus" class="btn btn-default">Muokkaa</a>
        
    </p>
    <div>
        <form method="post" action="{{base_path}}/joukkueet/{{joukkue.id}}/destroy" style="display: inline-block;">
            <button type="submit" class="btn btn-danger">Poista</button>
        </form>
    </div>
    
    <ul>
        <li>Taso: {{joukkue.taso}}</li>
        <li>Hyökkääjiä: {{joukkue.hyokkaajat}}</li>
        <li>Puolustajia: {{joukkue.puolustajat}}</li>
        <li>Maalivahteja: {{joukkue.maalivahdit}}</li>
    </ul>
   
    <p>
        <a href="{{base_path}}/joukkueet/{{joukkue.id}}/lisaa_pelaaja" class="btn btn-success">Lisää pelaaja</a>
        
    </p>
    
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nimi</th>
                <th>Seura</th>
                <th>Taso</th>
                <th>Pelipaikka</th>
            </tr>
        </thead>
        
        <tbody>
            {% for pelaaja in pelaajat %}
            <tr>
                <td><a href="{{base_path}}/pelaajat/{{pelaaja.id}}">{{pelaaja.nimi}}</a></td>
                <td>{{pelaaja.seura}}</td>
                <td>{{pelaaja.taso}}</td>
                <td>{{pelaaja.pelipaikka}}</td>
                <td><a class="btn btn-default btn-sm " href="{{base_path}}/pelaajat/{{pelaaja.id}}/muokkaus">Muokkaa</a></td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
