{% extends "base.html" %}
{% block content %}
   
    <p>
        <a href="{{base_path}}/joukkueet/uusi" class="btn btn-success">Luo uusi joukkue</a>
    </p>
    
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nimi</th>
            </tr>
        </thead>
        
        <tbody>
            {% for joukkue in joukkueet %}
            <tr>
                <td><a href="{{base_path}}/joukkueet/{{joukkue.id}}">{{joukkue.nimi}}</a></td>
                <td><a class="btn btn-default btn-sm" href="#">Muokkaa</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
