{% extends "base.html" %}
{% block content %}
<h1>Lisää pelaaja joukkueeseen {{joukkue.nimi}}</h1>
    
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nimi</th>
                <th>Seura</th>
                <th>Taso</th>
                <th>Pelipaikka</th>
            </tr>
        </thead>
        
        <tbody>
            {% for pelaaja in pelaajat %}
            <tr>
                <td><a href="{{base_path}}/pelaajat/{{pelaaja.id}}">{{pelaaja.nimi}}</a></td>
                <td>{{pelaaja.seura}}</td>
                <td>{{pelaaja.taso}}</td>
                <td>{{pelaaja.pelipaikka}}</td>
                
                <td>
                    <form method="post" action="{{base_path}}/joukkueet/{{joukkue.id}}/lisaa_pelaaja/{{pelaaja.id}}" style="display: inline-block;">
                        <button type="submit" class="btn btn-danger">Lisää joukkueeseen</button>
                    </form>
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}